:root {
  --color-background-main: #fff;
  --color-background-dark: #f9fafb;
  --color-text-code: #ded3a6;
  --color-text-header: #111827;
  --color-text-paragraph: #374151;
  --color-border: #b2b5bb;
  --color-text-link: #3b82f6;
  --color-text-link-hovered: #266bdb;
  --color-text-light: #dbeafe;
  --color-accept: #4caf50;
  --color-accept-dark: #3fa042;

  --header-height: 80px;
  --footer-height: 65px;

  --font-size-title: 48px;
  --font-size-paragraph: 18px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--color-background-main);
  color: var(--color-text-paragraph);
  font-size: 16px;
  stroke-width: 1.2;
}
.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
.header {
  border-bottom: 0.1px solid var(--color-border);
  padding: 0 12px;
  background-color: var(--color-background-main);
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-height);
}
.header__logo a {
  color: var(--color-text-dark);
  font-size: 36px;
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 50px;
}
.header__nav {
  display: flex;
  gap: 16px;

  font-size: 16px;
}
.header__nav a {
  color: var(--color-text-dark);
}
.header__nav a:hover {
  text-decoration: underline;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-text-paragraph);
}
.footer {
  border-top: 0.1px solid var(--color-border);
  background-color: var(--color-background-main);
}
.footer__row {
  display: flex;
  gap: 12px;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}
.footer__right{
  display: flex;
  gap: 12px;
}
.footer__text {
  font-size: 14px;
  color: var(--color-text-dark);
  letter-spacing: 0.3px;
}
a.footer__text:hover{
  text-decoration: underline;
}
.page_title {
  margin-bottom: 32px;
  background-color: var(--color-background-dark);
}
.page_title__row {
  /* height: 300px; */
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.created_by {
  display: flex;
  align-items: center;
}
.page_title__row h1 {
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}
.title {
  font-size: 46px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: var(--color-text-header);
}
.blog-content {
  display: flex;
}
.about > h2{
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.about > p{
  margin-top: 8px;
  font-size: 22px;
  padding: 8px 100px;
  text-align: center;
  font-weight: 300;
}
.about{
  margin: 30px 0;
}
.portfolio{
  margin: 30px 0;
}
.portfolio > h2{
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.portfolio__row{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.portfolio__item{
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  gap: 5px;
}
.portfolio__image{
  min-width: 300px;
  background-color: #586e75;
}
.portfolio_detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.portfolio_detail > .tags{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
/* Login */
.login__body {
  /* height: calc( 100vh - var(--header-height) - var(--footer-height)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}
.login__title {
  margin-bottom: 12px;
}
.login__form {
  background-color: var(--color-background-dark);
  padding: 24px;
  border-radius: 5px;
  /* border: 0.1px solid var(--color-border); */
}
.form__control {
}
.form__wraper {
  display: flex;
}
.input {
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  margin-bottom: 12px;
}
.btn {
  justify-content: end;
  margin-bottom: 12px;
}
.form__label {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  padding: 7px 0;
}
.form__input {
  font-size: 16px;
  padding: 6px 12px;
  border: 0.1px solid transparent;
  border-radius: 5px;

  transition: border-color 0.3s ease-in-out;
}
.form__input:focus {
  border-color: var(--color-text-header);
}
.form__button {
  background-color: var(--color-accept-dark);
  color: var(--color-background-dark);
  border-radius: 5px;
  font-size: 16px;
  width: 120px;
  height: 40px;
  transition: background-color 0.3s ease-in-out;
  /* padding: 8px 18px; */
}
.form__button:hover {
  background-color: var(--color-accept);
}
/* End login */
.blog__row,
.post__row {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.blog__columns,
.blog__content {
  padding: 0 12px;
  /* flex-basis: 70%; */
  flex-grow: 999;
  flex-basis: 0;
  /* align-items: start; */
}
.blog__cards,
.blog__content {
  display: flex;
  flex-direction: column;
}
.blog__card {
  margin: 10px 8px 32px 8px;
  padding: 6px 6px;
}
.card {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1px solid var(--color-border);
}
.card__title {
  color: var(--color-text-link);
  margin-bottom: 20px;
}
.card__title a {
  color: var(--color-text-link);
  font-size: 36px;
  font-weight: 500;
  text-decoration: underline;
}
.card__title a:hover {
  color: var(--color-text-link-hovered);
}
.card__description {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
  /* padding: 8px 0; */
}
.card__author {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.author__photo img {
  width: 50px;
  height: 50px;
  object-fit: cover;

  border-radius: 50%;
  background-color: var(--color-text-header);
}
.author__name {
  padding-left: 8px;
  font-size: 16px;
  font-weight: 300;
}
.author__name a {
  color: inherit;
}
.author__name a:hover {
  text-decoration: underline;
}
.author__last-update {
  font-size: 16px;
  padding-left: 8px;
  font-weight: 300;
}
.card__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}
.card__tag {
  /* margin-left: 8px; */
}
.tag {
  background-color: var(--color-text-paragraph);
  padding: 4px 6px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-background-main);
}
.tag:hover {
  background-color: var(--color-text-header);
  color: var(--color-background-dark);
}
.blog__next-page {
  margin-bottom: 32px;
}
.blog__next-page button {
  width: 100%;
  padding: 16px 6px;
  border-radius: 5px;
  color: var(--color-background-main);
  font-size: 16px;
  background-color: var(--color-text-paragraph);
}
.blog-control {
  padding: 12px 12px;
  flex-basis: 30%;
  flex-grow: 1;
}
.sticky {
  position: sticky;
  top: 1rem;
}
.control__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.control__element {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border: 0.1px solid var(--color-border);
  border-radius: 5px;
}
.control__head {
  text-align: center;
  font-size: 32px;
}
.control__find {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-text-paragraph);
  border: 1.5px solid var(--color-text-paragraph);
}
.find__ico {
  padding-top: 4px;
  color: var(--color-background-main);
}
.find__ico svg {
  height: 20px;
  width: 20px;
}
.find__input {
  margin-left: 4px;
  flex-grow: 1;
  padding: 4px;
  color: var(--color-background-main);
  background-color: inherit;
}
.find__input:focus .control__find {
  border-color: var(--color-text-link);
}
.find__btn {
  background-color: var(--color-text-link);
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color-background-main);
}
.find__btn:hover {
  background-color: var(--color-text-link-hovered);
  color: var(--color-background-dark);
}
.search__res {
  background-color: var(--color-text-light);
  text-align: left;
  padding: 16px 16px;
  font-size: 16px;
  border-radius: 10px;
  color: var(--color-text-link);
  font-weight: 500;
  margin-bottom: 12px;
}
.control__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .header__nav{
    position: fixed;
    top: 70px;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-text-paragraph);
    text-align: center;
    transition: 0.3s;
  }
  .header__nav.active{
    left: 0;
  }
}