{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}
{% block styleeditor %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}" type="text/css">
{% endblock %}


{% block content %}

{% include 'blog/post_title.html' %}

<div class="post">
    <div class="container">
        <div class="post__row">
            <div class="blog__content post">
                {{post.content|safe}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}