{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="login">
    <div class="container">
        <div class="login__body">
            <h1 class="login__title title">
                Login
            </h1>
            <div class="login__form">
                <form class="form__control" method="post">
                    {% csrf_token %}
                    <div class="form__wraper input">
                        <label for="nickname" class="form__label">Nickname</label>
                        <input type="text" name="nickname" id="inputNickname" class="form__input" placeholder="nickname" required>
                    </div>
                    <div class="form__wraper input">
                        <label for="password" class="form__label">Password</label>
                        <input type="password" name="password" id="inputPassword1" class="form__input" placeholder="password" required>
                    </div>

                    <div class="form__wraper btn">
                        <button class="form__button" type="submit">Login</button>
                    </div>
                    
                    {% for field in login_form %}
                    <p>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}
                    {% if login_form.non_field_errors %}
                    <div style="color: red">
					<p>{{login_form.non_field_errors}}</p>
				    </div>
				    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}