{% extends 'base.html' %}
{% load static %}


{% block content %}

<style type="text/css">
.card-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-wraper{
    margin-bottom: 8px;
}

</style>

<section id="register">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card card-signin">
            <h1 style="text-align: center;">
                Registration
            </h1>
            <div class="card-body">
                <form class="form-signup" method="post">
                    {% csrf_token %}
                    <div class="form-wraper">
                        <label for="nickname" class="form-label">Nickname</label>
                        <input type="text" name="nickname" id="inputNickname" class="form-control" placeholder="nickname" required autofocus>  
                    </div>
                    <div class="form-wraper">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email address" required>
                    </div>
                    <div class="form-wraper">
                        <label for="password1" class="form-label">Password</label>
                        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="password" required>
                    </div>
                    <div class="form-wraper">
                        <label for="password2" class="form-label">Confirm password</label>
                        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="confirm password" required>
                    </div>

                    {% for field in signup_form %}
                    <p>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}
                    {% if signup_form.non_field_errors %}
                    <div style="color: red">
					<p>{{signup_form.non_field_errors}}</p>
				    </div>
				    {% endif %}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock content %}