{% load static %}
<header class="header" role="banner">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <a href="/">
                    <div class="image">
                        <img src="{% static 'img/logo/logo-50.png' %}" alt="logo">
                    </div>
                    <div class="text">
                        DjangoBlog
                    </div>
                </a>
            </div>
            <nav class="header__nav">
                <a href="/">Home</a>
                <a href="/blog/">Blog</a>

                {% if user.is_authenticated %}
                <a href="/account/">Account</a>
                <a href="/account/logout">Logout</a>
                {% else %}
                <a href="/account/login/">Login</a>
                <a href="/account/register/">Signup</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>