{% load static %}
<header class="site-navbar" role="banner">
    <div class="container">
        <div class="hedaer-content">
            <div class="hedaer-logo">
                <h1 class="site-logo">
                    <a href="/">DjangoBlog</a>
                </h1>
            </div>
            <div class="hedaer-nav">
                <nav class="nav" id="nav">
                    <ul class="site-menu">
                        <li><a href="/"><span>Home</span></a></li>
                        <li><a href="/"><span>Account</span></a></li>
                        <li><a href="/"><span>Admin</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
