{% extends 'base.html' %}
{% load static %}

{% block title %}Cookies Policy{% endblock %}

{% block styleeditor %}
<link rel="stylesheet" href="{% static 'css/post.css' %}" type="text/css">
{% endblock %}


{% block content %}

<div class="page_title">
    <div class="container">
        <div class="page_title__row">
            <h1>
                Privacy Policy
            </h1>
        </div>
    </div>
</div>

<div class="post">
    <div class="container">
        <div class="post__row">
            <div class="blog__content post">

            </div>
        </div>
    </div>
</div>


{% endblock content %}